@media (min-width: 1080px){
    footer{
        position: fixed;
        bottom: 0;
        width: 99%;
    }
}

@media (max-width: 1080px){
    main video{
        width: auto;
    }
}

nav{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    color: #002d72;
    background-color: lightblue;

}

nav a{
    margin-left: 5%;
}

nav .hoverText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 28pt;
    color: #ffbd2c;
    background-color: blue;
}

main{
    background-color: azure;
    color: #002d72;
}

main h1{
    font-weight: bold;
}

main video{
    display: block;
    margin: 0 auto;
}

footer{
    text-align: center;
    background-color: #002d72;
    color: #ffbd2c;
}

.copyleft {
    height: 18px;
    width: 18px;
}