nav{
    text-align: center;
}

nav .hoverText{
    font-weight: bold;
    color: #ffbd2c;
    background-color: #002d72;
}

main{
    background-color: #819ac0;
}

main h1{
    font-weight: bold;
}

main video{
    text-align: center;
}