@media only screen and (min-width: 1080px){
    footer{
        position: fixed;
        bottom: 0;
        width: 80%;
    }
}
nav{
    text-align: center;
    color: #002d72;
    background-color: lightblue;
}

nav .hoverText{
    font-weight: bold;
    color: #ffbd2c;
    background-color: blue;
}

main{
    background-color: azure;
    color: #002d72;
}

main h1{
    font-weight: bold;
}

main video{
    text-align: center;
}

footer{
    position: relative;
    bottom: 0px;
    text-align: center;
    background-color: #002d72;
    color: #ffbd2c;
}