{% extends 'base.jinja2.html' %}
{% block head %}



{% endblock %}
{# ---------- #}
{% block content %}
<table id="schedule">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Course ID</th>
            <th>Days</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
    </thead>
    {% for course in data %}
    <tr>
        <td>{{ course['name'] }}</td>
        <td>{{ course['id'] }}</td>
        <td>{{ course['days'] }}</td>
        <td>{{ course['time'] }}</td>
        <td>{{ course['location'] }}</td>
    </tr>
    {% endfor %}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#schedule").fancyTable({
            sortColumn: 0,
            pagination: true,
            perPage: 10,
            globalSearch: true
        });
    });
</script>
{% endblock %}
{% block foot %}
{% endblock %}